* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #0d0f24;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: yellow !important;
}
.app {
  background-color: #0d0f24;
}
.home {
  background-color: #0d0f24;
}
.collectionWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 60px;
}
.collection {
  align-self: center;
}
.image {
  align-self: center;
  animation: rotation 30s infinite linear;
}
.navbar-light .navbar-nav .nav-link {
  color: #e0bb91 !important;
}
.collection_image {
  width: 500px;
  height: 500px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.services_name_row1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}
.services_name_row2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}
.services_name_row3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}

.services_name_col {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col1 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col2 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col3 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col4 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col5 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col6 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col7 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col8 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col9 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col10 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col11 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col12 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col13 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.services_name_col14 {
  background-image: url("../images/rectangle.png");
  width: 210px;
  height: 210px;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: 2%;
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 210px;
  border-radius: 50%;
}
.divider {
  width: 100%;
}
.Navbar {
  border-bottom: 3px solid #f3e900;
}
.toggle {
  margin-left: 5%;
}
.Sale {
  margin-top: 10%;
}
.slider1 {
  width: 80%;
}
.carousal {
  margin-top: 5%;
}
.cart_image {
  width: 300px;
  height: 150px;
}
.sale_cart_text {
  width: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 20px 0px 20px;
  margin-top: 5px;
}
.horoscope_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.horoscopeWrapper {
  width: 150px !important;
  align-content: center;
  justify-content: center;
  place-items: center;
}
.horoscope_text {
  font-family: Minion Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
}
.horoscope_carousel {
  margin: 0 auto;
  width: 80%;
}
.slider {
  margin: 0 auto;
  text-align: center;
}
.client_name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.client1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testmonials1 {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 20px;
  width: 500px;
  margin-right: 100px;
}
.testmonials2 {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 20px;
  width: 500px;
}
.testmonials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}
.client_div {
  margin-left: 30px;
  text-align: center;
  align-items: center;
  align-self: center;
}

.expert_social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.blogs_cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.expert_slider {
  width: 300px;
  margin-top: 5%;
}
.expert_cart_text {
  width: 300px;
  margin-top: 10px;
}
.expert_cart_image {
  width: 300px;
  height: 150px;
}
.Footer {
  margin-top: 2%;
  border-bottom: 3px solid #ecc598;
  border-top: 3px solid #ecc598;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3%;
  margin-bottom: 3%;
}
.links {
  width: 250px;
}
#heading {
  margin-top: 15%;
}
.social_icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footer_social_icons {
  margin-right: 10px;
}
#about_text {
  line-height: 20px;
}
.button_text {
  width: 230px;
  height: 50px;
  margin-top: 10%;
}
#services_text {
  display: none;
}
#services_text1 {
  display: block;
}
.logo {
  width: 100px;
  height: 60px;
}
.menu {
  align-content: center;
  align-items: center;
}
.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding: 0.5rem 2rem !important;
  border-bottom: 3px solid #ecc598;
}
.navbar-light .navbar-toggler-icon {
  background-color: #ebc596 !important;
}

@media screen and (max-width: 480px) {
  .search {
    margin-top: 3%;
  }
  .collection_image {
    width: 250px;
    height: 250px;
  }
  .collectionWrapper {
    justify-content: center;
    padding-left: 0px;
    padding-right: 3%;
  }
  .Navbar {
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 3px solid #ebc596;
    padding-left: 3.5%;
  }
  .Services {
    padding: 5%;
  }

  .Footer {
    justify-content: center;
    text-align: center;
  }
  .links {
    width: 468px;
  }
  .social_icon {
    justify-content: center;
  }
  .blogs_cart {
    justify-content: center;
  }
  .testmonials1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    margin-right: 0px;
  }
  .testmonials2 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
  }
  #services_text {
    display: block;
  }
  #services_text1 {
    display: none;
  }
  .horoscope_carousel {
    margin: 0 auto;
    width: 70%;
  }
  .Horoscope {
    padding: 5%;
  }
  .Experts {
    padding: 5%;
  }
  .Buynow {
    padding: 5%;
  }
  .see_all1 {
    text-align: center;
  }
  .Sale {
    padding: 5%;
  }

  .slider1 {
    width: 70%;
  }
  .carousal {
    margin-top: 5%;
  }
  .cart_image {
    width: 220px;
    height: 150px;
  }
  .sale_cart_text {
    width: 220px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    margin-top: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .collection_image {
    width: 250px;
    height: 250px;
  }
  .collectionWrapper {
    justify-content: space-evenly;
    padding-left: 0px;
  }
  .Navbar {
    justify-content: space-evenly;
    border-bottom: 3px solid #f3e900;
  }
  .Services {
    padding: 5%;
  }
  .services_name_col {
    width: 100;
    height: 100;
    margin-right: 1%;
    z-index: 100;
  }

  .Footer {
    justify-content: center;
    text-align: center;
  }
  .links {
    width: 468px;
  }
  .social_icon {
    justify-content: center;
  }
  .blogs_cart {
    justify-content: space-evenly;
  }
  .testmonials1 {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 500px;
    margin-right: 20px;
  }
  .testmonials2 {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 500px;
  }
  .testmonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
  }
  #services_text {
    display: block;
  }
  #services_text1 {
    display: none;
  }
  .horoscope_carousel {
    margin: 0 auto;
    width: 70%;
  }
  .client_say {
    margin: 0 auto;
  }
  .Horoscope {
    padding: 5%;
  }
  .Experts {
    padding: 5%;
  }
  .Buynow {
    padding: 5%;
  }
  .see_all1 {
    text-align: center;
  }
  .Sale {
    padding: 5%;
  }

  .slider1 {
    width: 70%;
  }
  .carousal {
    margin-top: 5%;
  }
  .cart_image {
    width: 350px;
    height: 200px;
  }
  .sale_cart_text {
    width: 350px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    margin-top: 5px;
  }
  .horoscope_image {
    width: 250px;
    height: 250px;
  }
  .horoscopeWrapper {
    width: 250px !important;
    align-content: center;
    justify-content: center;
    place-items: center;
  }
  .button_text {
    width: 280px;
    height: 50px;
    margin-top: 10%;
  }
}
